@import url(style/header.css);
@import url(style/banner.css);
@import url(“styles/carrossel.css”);
:root{
    --cor-de-fundo: #fff1f1;
    --branco: #ffe8e8;
    --laranja: #a96ecf;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;

}

body{
    background-color: var(--cor-de-fundo);
}